<h1>Alumnes</h1>

<% if (alumnos && alumnos.length > 0) { %>
  <ul>
    <% alumnos.forEach(alumno => { %>
      <li>
        <a href="/alumnos/<%= alumno.id %>">
          <%= alumno.apellidos %>, <%= alumno.nombre %> (<%= alumno.tipo %>)
        </a>
      </li>
    <% }) %>
  </ul>
<% } else { %>
  <p>No hi ha alumnes registrats.</p>
<% } %>
<a href="/alumnos/nuevo">
  <button class="newButton"><i class="fa-solid fa-user-graduate"></i>+ Alumne</button>
</a>