<div class="cursos-container">
    <div class="cursos-card">
        <h1 class="cursos-title">Cursos</h1>

        <form>
            <div class="curso-group">
                <label for="loginEmail">Correu electrònic</label>
                <input type="email" id="loginEmail" name="email" placeholder="tu@cifo.com" required>
            </div>
        </form>
    </div>
</div>