<label for="MostraInfo">
  <h1>Benvingut, <%= usuario.nombre %> <%= usuario.apellidos %></h1>
</label>
<div class="MostraInfo">
  <div class="mostradorDeAlumnes">mostralumnes</div>
  <div class="mostradorDeCursos">mostracursos</div>
</div>