<label class="bienvenida">
  <h1>Benvingut, <%= usuario.nombre %> <%= usuario.apellidos %></h1>
</label>

<div class="mostra-info">
  <div class="mostra-alumn">Aqui es mostren els alumnes</div>
  <div class="mostra-curs">Aqui es mostren els cursos</div>
</div>
<div class="mostra-notes">
  <div class="notes-pag">Aqui es paginen les anotacions de l'usuari</div>
  <textarea class="notes-text">Aqui es mostren les anotacions de l'usuari</textarea>
</div>