.dropdown {
    position: absolute;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
    border-radius: var(--radio-pequeno);
}

.dropdown.hidden {
    display: none;
}

.dropdown .item {
    padding: 8px;
    cursor: pointer;
}

.dropdown .item:hover {
    background-color: #f0f0f0;
}

.dropdown .empty {
    color: #888;
    cursor: default;
}

.buscador-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 0 2rem 1rem;
    max-width: calc(100% - 4rem);
}

.buscador-alumnos {
    flex: 1;
}

#dropdownResultados {
    flex: 1;
    position: absolute;
    left: 25%;
    min-height: 42px;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background: white;
    padding: 4px 0;
}