@import url('listing.css');
@import url('detalle.css');

/* Afegim format només al form del canvi de contrasenya. */
.perfil-password-form {
  width: 50%;
  margin: 0 auto;
}

.perfil-password-container {
  display: flex;
  justify-content: center;
  width: 100%;
}


/* Definim l'aspecte del botó */
#perfilPassword {
  text-align: center;
}

.perfil-password-btn {
  display: inline-block;
  margin: 0 auto 1rem auto; /* centrat i amb espai inferior */
  width: fit-content;       
}

/*Donem format als missatges*/
.perfil-password-flash {
  text-align: center;
  margin: 1rem auto;
  width: 70%; 
  font-weight: 600;
}

.perfil-password-flash.success {
  color: #16a34a;
}

#perfilPasswordMsg.perfil-password-flash.error {
  color: #f33412 !important;
}
